@{
    ViewBag.Title = "Contact";
}
<h2>Contact Details</h2>
<h3>Contact Details for all Cemeteries in Ireland.</h3>

<img src="~/Content/Glasnevin.jpg" alt="Glasnevin">
<address>
    Glasnevin Cemetery<br />
    Finglas Road,<br />
    Glasnevin,<br />
    Dublin 11<br />
</address>

<address>
    <strong>Cemetery: </strong><abbr title="Phone">+353 (0)1 882 6500</abbr><br/>
    <strong>Museum: </strong><abbr title="Phone">+353 (0)1 882 6550</abbr><br />
    <strong>Email: </strong><a href="mailto:info@glasnevintrust.ie">info@glasnevintrust.ie</a>
</address>